.contact-item {
     display: flex;
     width: 100%;
     border-radius: 3px;
     padding: 25px;
     margin-top: 12px;
     background-color: aliceblue;
}

.contact-item-line {
    flex: 1;
    padding: 6px;
    margin: 0 2px;
    /* border: none; */
    font-size: 21px;
}

.contact-item-line:focus  {
    outline: none;
}

.icon {
    margin-left: 11px;
    padding: 5px;
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
}

.icon:hover {
    text-shadow: 0.6px 0.6px 1.2px rgba(0, 0, 0, 0.484);
}

@media (max-width) {
    .input {
        width: 94%;
    }

    .contacts {
        width: 94%;
    }

    .contact-item {
        width: 100%;
    }
}