.form {
  display: flex;
  flex-direction: column;
  width: 90%;
  position: relative;
  align-items: center;
  gap: 10px;
}

.input {
  width: 90%;
  border-radius: 3px;
  padding: 20px 50px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}

.create-contact {
  width: 100%;
  height: 50px;
  margin: 12px;
  border-radius: 3px;
  border: none;
  font-size: 15px;
  background-color: #2f74c0;
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.create-contact:hover {
  background-color: #388ae2;
}

.create-contact:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}
